---
import navigation from "@content/navigation.json";

function shouldAppendActiveClass(item) {
  return Astro.site.pathname == item.link;
}
function setSubLevelClass(item) {
  return item.sub?.length ? "has-sub-level" : "has-no-sublevel";
}
---

<nav class="navigation">
  {navigation.map((navigationItems) => (
    <ul>
      {navigationItems.map((item) => (
        <li class={setSubLevelClass(item)}>
          <a
            href={item.link}
            rel={item.rel}
            title={item.name}
            target={item.target && item.target}
            class={shouldAppendActiveClass(item) && "active"}
          >
            {item.name}
          </a>
          {item.sub && (
            <ul>
              {item.sub?.map((subItem) => (
                <li>
                  <a href={subItem.link} rel={subItem.rel} title={subItem.name}>
                    {subItem.name}
                  </a>
                </li>
              ))}
            </ul>
          )}
        </li>
      ))}
    </ul>
  ))}
</nav>

<style lang="scss">
  @use "../style/abstracts" as *;

  .navigation {
    display: none;

    @include for-tablet-landscape-up {
      display: flex;
    }

    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: $font-bold;
    padding-left: 22px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      color: $font-light-color;
    }
    > ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      > li {
        position: relative;
        a {
          position: relative;
          display: block;
          padding: 11px 22px;
          box-sizing: border-box;
          border: 4px solid transparent;
          z-index: 1;
        }
        > ul {
          // display: block;
          display: none;
          position: absolute;
          top: calc(100% - 4px);
          left: 0;
          background-color: $yellow-dark;
          border: 4px solid $font-light-color;
          box-shadow: 0 26px 72px rgba(0, 0, 0, 0.26);
        }
        &:hover {
          &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            box-shadow: 0 26px 72px rgba(0, 0, 0, 0.26);
          }
          &::after {
            content: "";
            position: absolute;
            width: calc(100% - 8px);
            height: 4px;
            left: 4px;
            bottom: 0;
            background-color: $yellow-dark;
            z-index: 2;
          }
          &.has-sublevel {
            &::after {
              display: block;
            }
          }
          &.has-no-sublevel {
            &::after {
              display: none;
            }
          }
          > a {
            background-color: $yellow-dark;
            border: 4px solid $font-light-color;
            text-shadow: 0 0 25px rgba(255, 255, 255, 1);
          }
          > ul {
            display: block;
          }
        }
      }
      + ul {
        color: $font-dark-color;
        justify-content: flex-end;
      }
    }
  }
</style>
